body {
    padding-top: 30px;
}

    body > .navbar {
        -webkit-transition: background-color .3s ease-in;
        transition: background-color .3s ease-in;
    }

@media (min-width:768px) {
    body > .navbar-transparent {
        background-color: transparent;
    }

        body > .navbar-transparent .navbar-nav > .open > a {
            background-color: transparent !important;
        }
}

.page-header {
    margin-bottom: 10px;
}

    .page-header h1 {
        font-size: 1.5em;
    }

.nav-tabs {
    margin-bottom: 15px;
}
